/* General */
.center-text {
  margin-top: 30px;
  text-align: center;
}

.raleway-small {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.raleway-big {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
  letter-spacing: 0.1em;
}

/* App */
.container {
  max-width: 960px;
}

.line {
  height: 1px;
  width: 180px;
  margin: 10px auto 15px;
  background-color: #1cd9c4;
}

/* Name Card */
.card-container {
  position: relative;
  height: 200px;
  min-width: 200px;
  padding: 0 200px 0 0;
  margin: 10px auto;
  border: none;
  perspective: 200;
  -webkit-perspective: 200;
}

.flipped {
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
}

.card-flip {
  height: 100%;
  width: 200px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.card-back {
  background-color: #1cd9c4;
  color: white;
  padding: 30px 5px;
  -webkit-transform: rotatey(-180deg);
}

/* Search */
.search {
  height: 45px;
  width: 40%;
  margin: 10px 30% 30px;
  border: 1px solid #1cd9c4;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  outline: none;
}
